/* ---------------- Google font --------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* ------------- end: Google font ------------- */

/* -------------- normalized CSS -------------- */

/* -------------------------------------------- */
/*                   elements                   */
/* -------------------------------------------- */

:root {
  /* --------------- typography --------------- */
  --font-heading: Georgia, serif;
  --font-body: Roboto, sans-serif;
  /* font sizes */
  --fs-heading-h1: 3rem;
  --fs-heading-h2: 2.5rem;
  --fs-heading-h3: 1.9rem;
  --fs-heading-h1--sm: 1.9rem;
  --fs-heading-h2--sm: 1.5rem;
  --fs-heading-h3--sm: 1.25rem;
  --fs-body: 1.25rem;
  --fs-body--sm: 1rem;

  /* ----------------- colours ---------------- */
  --clr-primary: #355c42;
  --clr-primary-accent1: #14f560;
  --clr-primary-accent2: #50823c;
  --clr-secondary: #853f99;
  --clr-secondary-accent: #8613f4;
  --clr-base-white: #fafafa;
  --clr-base-black: #222222;

  /* ------------- margin & padding ------------- */
  --mg-md: 5em;
  --mg-sm: 2.5em;
  --pd-md: 5em;
  --pd-sm: 2.5em;
}

/* -------------------------------------------- */
/*                 general setup                */
/* -------------------------------------------- */

/* body text */
body {
  font-size: var(--fs-body--sm);
  font-family: var(--font-body);
  color: var(--clr-base-black);
  overflow-x: hidden;
}
p {
  margin-top: 0;
}

/* headings */
h1,
h2,
h3 {
  font-family: var(--font-heading);
}
h1 {
  font-size: var(--fs-heading-h1--sm);
}
h2 {
  font-size: var(--fs-heading-h2--sm);
  margin-bottom: clamp(1em, 2vw, 2em);
}
h3 {
  font-size: var(--fs-heading-h3--sm);
}

@media screen and (min-width: 768px) {
  body {
    font-size: var(--fs-body);
  }
  h1 {
    font-size: var(--fs-heading-h1);
  }
  h2 {
    font-size: var(--fs-heading-h2);
  }
  h3 {
    font-size: var(--fs-heading-h3);
  }
}

/* wrapper */
.wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 900px;
}
.lg {
  max-width: 1400px;
}

/* focus style */

a:focus {
  box-shadow: 0 0 0.2em 0.2em var(--clr-primary-accent1);
}
html {
  scroll-behavior: smooth;
}
/* -------------------------------------------- */
/*                  components                  */
/* -------------------------------------------- */

/* ---------------- navigation ---------------- */
header {
  background-color: rgb(133, 62, 152, 35%);
  padding: 0.5em 0;
}
/* moble screen */
.nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "brand . hamburger"
    "nav-list nav-list nav-list";
  align-items: center;
  /* padding-top: 0.5em; */
}

/* hamburger button */

.btn-hamburger-menu {
  grid-area: hamburger;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-end;
  padding: 0.1em;
  /* max-height: 1em; */
  width: 2em;
  z-index: 99;
}

/* .btn-hamburger-menu span {
  display: block;
  width: 1.5em;
  height: clamp(.2em, 5vw, .1em);
  background-color: var(--clr-base-black);
} */
/* .btn-hamburger-menu span:nth-child(2) {
  margin: clamp(.3em, 5vw, .35em) 0;
} */

/* brand */
.brand {
  grid-area: brand;
  display: flex;
  align-items: center;
  /* flex-grow: 1; */
  /* max-width: 50px; */
  /* width: 100%; */
}

.brand span {
  display: none;
}
.brand a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--clr-base-black);
}
.brand .logo {
  max-width: clamp(3em, 5vw, 4.5em);
}
/* nav list */
.nav-container nav {
  grid-area: nav-list;
}
#nav-list {
  display: none;
}
#nav-list.is-open {
  position: relative;
  /* padding-left: clamp(6em, 2vw, 8em); */
  padding-left: 0;
  padding-bottom: 2em;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  background-color: transparent;

  transition: 0.15s ease-out;
}

.nav-item {
  list-style: none;
  margin: 1.2em 0;
}
.nav-item .nav-active {
  color: var(--clr-secondary-accent);
}
.nav-item a {
  display: block;
  text-decoration: none;
  color: var(--clr-primary);
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

/* nav item animation */

.nav-item a:hover,
.nav-item a:focus {
  color: var(--clr-secondary-accent);
}
.nav-item a::after {
  content: "";
  width: 0;
  /* height: 0; */
  transform-origin: center;
  transition: all 0.1s 0.15s ease-in-out;
}
.nav-item a:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--clr-secondary-accent);
  width: 100%;
  height: 0.2em;
}

/* mobile hamburger menu animation */
.btn-hamburger-menu {
  border: 0.1em solid var(--clr-base-black);
  width: 40px;
  height: 40px;
  /* margin: 5px; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btn-hamburger-menu span {
  width: 30px;
  height: 4px;
  background-color: black;
  border-radius: 2px;
  transition: transform 0.25s ease-in-out;
}

.btn-hamburger-menu.is-open span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8.5px);
}

.btn-hamburger-menu.is-open span:nth-child(2) {
  opacity: 0;
}

.btn-hamburger-menu.is-open span:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8.5px);
}

/* desktop screen */
@media screen and (min-width: 768px) {
  .brand .logo {
    margin-right: 1em;
  }
  .brand span {
    display: inline;
  }
  .nav-container {
    grid-template-areas: "brand . nav-list";
  }
  #nav-list,
  #nav-list.is-open {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    min-width: 20vw;
    width: 100%;
    background-color: unset;
    box-shadow: none;
  }
  .btn-hamburger-menu {
    display: none;
  }
  .nav-item {
    padding-right: 1em;
  }
  .nav-item:last-of-type {
    padding-right: 0;
  }
}
/* ------------------ footer ------------------ */
footer {
  background-color: var(--clr-primary);
  padding-top: 2em;
}
footer * {
  font-size: clamp(0.8rem, 2vw, 0.6rem);
}
footer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-copyrights {
  flex-grow: 2;
}

.footer-copyrights,
.footer-nav {
  padding-bottom: 2em;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-copyrights,
.footer-nav-item a {
  color: var(--clr-base-white);
}
.footer-nav-item a:hover,
.footer-nav-item a:focus {
  color: var(--clr-primary-accent1);
  text-decoration: underline;
}
.footer-nav-item {
  padding-bottom: 2em;
}
.footer-nav-item:last-of-type {
  padding: 0;
}
.footer-nav-item a {
  text-decoration: none;
  padding-right: clamp(0.3em, 2vw, 0.2em);
}

@media screen and (min-width: 760px) {
  footer .wrapper,
  .footer-nav {
    flex-direction: row;
  }

  .footer-nav-item {
    padding-bottom: 0;
    padding-right: clamp(2em, 2vw, 1em);
  }
  .footer-nav-item:last-of-type {
    padding-right: 0;
  }
}

/* ----------- banner / hero section ---------- */
section {
  position: relative;
}
section.banner {
  background-color: rgb(133, 62, 152, 35%);
}
section.banner .wrapper {
  display: grid;
  gap: 0 1em;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: clamp(1em, 2vw, 1.5em) 0;

  /* grid-template-rows: repeat(2, minmax(30vh, 1fr)); */
  /* grid-template-rows: minmax(30vh, 1fr) 1fr; */
}

.banner-image {
  order: -1;
}
/* .banner-heading {
  padding-bottom: 2em;
} */

.banner-image img {
  /* width: calc(100vw - 1.2em); */
  width: 100%;
  aspect-ratio: 4/3;
  /* max-height: 30vh; */
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  section.banner .wrapper {
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(55vh, 1fr);
    grid-template-areas: "banner-hd banner-image";
    align-items: center;
    padding-bottom: 0;
  }
  .banner-heading {
    /* position: relative; */
    grid-area: banner-hd;
    /* transform: translateY(50%); */
  }
  .banner-image {
    grid-area: banner-image;
    position: relative;
  }
  .banner-image img {
    max-width: 100%;
    height: 720px;
    /* position: absolute; */
    /* top: 20%; */
    /* width: 100%; */
    /* min-height: 100%; */
    object-fit: cover;
    /* aspect-ratio: 1/1; */
    transform: translatey(2.5em);
  }
}

/* ------------------ button ------------------ */
a.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background-color: var(--clr-primary);
  border-radius: 0.15em;
  color: var(--clr-base-white);
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}

.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--clr-primary-accent2);
}

.btn.btn-hero {
  margin-top: clamp(1em, 2vw, 1.5em);
  padding: 0.6em 2.6em;
}

/* -------------- section heading ------------- */
h2.section-heading {
  position: relative;
  z-index: 1;
  display: inline-block;
}
.section-heading::after {
  content: "";
  position: absolute;
  min-width: 7em;
  width: 100%;
  height: 0.4em;
  top: 50%;
  left: 0;
  transform: translateY(-20%);
  background-color: var(--clr-primary-accent1);
  z-index: -1;
}

/* ------------------- text ------------------- */
.txt-white {
  color: var(--clr-base-white);
}

/* --------- home page section: about --------- */

section.section-about {
  background-color: var(--clr-secondary);
}

.section-content {
  display: grid;
  grid-template-columns: 1fr;
}
.section-about img {
  object-fit: cover;
  width: 100%;
  min-width: 300px;
}
.section-about .wrapper {
  padding-bottom: 2em;
}
@media screen and (min-width: 768px) {
  .section-content {
    grid-template-columns: 1fr;
    gap: 1em;
  }
  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1em;
  }
  .content:nth-of-type(1) .content-txt {
    order: -1;
    text-align: right;
  }
}
